svg(width="72px" height="52px" viewBox="0 0 72 52")
    g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
        g(transform="translate(-145.000000, -886.000000)")
            g(transform="translate(144.000000, 876.000000)")
                g(id="ico_WEB" transform="translate(2.000000, 11.000000)")
                    path(d="M68,50 L2,50 C0.9,50 0,49.1 0,48 L0,2 C0,0.9 0.9,0 2,0 L68,0 C69.1,0 70,0.9 70,2 L70,48 C70,49.1 69.1,50 68,50 Z" id="Path" stroke="#282423" stroke-width="2")
                    path(d="M0,6.8008 L70,6.8008" id="Path" stroke="#282423" stroke-width="2")
                    polygon(id="Path" fill="#282423" fill-rule="nonzero" points="3 4.5 5 4.5 5 2.5 3 2.5")
                    polygon(id="Path" fill="#282423" fill-rule="nonzero" points="7 4.5 9 4.5 9 2.5 7 2.5")
                    polygon(id="Path" fill="#282423" fill-rule="nonzero" points="11 4.5 13 4.5 13 2.5 11 2.5")
                    path(d="M36,40.5 C37.1046,40.5 38,39.6046 38,38.5 C38,37.3954 37.1046,36.5 36,36.5 C34.8954,36.5 34,37.3954 34,38.5 C34,39.6046 34.8954,40.5 36,40.5 Z" id="Path" stroke="#282423" stroke-width="2")
                    path(d="M51,31.5 C52.1046,31.5 53,30.6046 53,29.5 C53,28.3954 52.1046,27.5 51,27.5 C49.8954,27.5 49,28.3954 49,29.5 C49,30.6046 49.8954,31.5 51,31.5 Z" id="Path" stroke="#282423" stroke-width="2")
                    path(d="M59,19.5 C60.1046,19.5 61,18.6046 61,17.5 C61,16.3954 60.1046,15.5 59,15.5 C57.8954,15.5 57,16.3954 57,17.5 C57,18.6046 57.8954,19.5 59,19.5 Z" id="Path" stroke="#282423" stroke-width="2")
                    path(d="M38,37.8 L50,30.5" id="Path" stroke="#282423" stroke-width="2")
                    path(d="M52,28.5008 L58.2,19.3008" id="Path" stroke="#282423" stroke-width="2")
                    path(d="M13,41.5 C11.9,41.5 11,40.6 11,39.5 L11,27.5 C11,26.4 11.9,25.5 13,25.5 C14.1,25.5 15,26.4 15,27.5 L15,39.5 C15,40.6 14.1,41.5 13,41.5 Z" id="Path" fill="#E60028" fill-rule="nonzero")
                    path(d="M27,41.5 C25.9,41.5 25,40.6 25,39.5 L25,33.5 C25,32.4 25.9,31.5 27,31.5 C28.1,31.5 29,32.4 29,33.5 L29,39.5 C29,40.6 28.1,41.5 27,41.5 Z" id="Path" fill="#E60028" fill-rule="nonzero")
                    path(d="M20,41.5 C18.9,41.5 18,40.6 18,39.5 L18,21.5 C18,20.4 18.9,19.5 20,19.5 C21.1,19.5 22,20.4 22,21.5 L22,39.5 C22,40.6 21.1,41.5 20,41.5 Z" id="Path" fill="#E60028" fill-rule="nonzero")