footer.main-footer
    .rosa-grid
        ul.footer-links
            li.footer-link-item
                a.footer-link(href="https://new.rosbank.ru/o-banke/raskrytie-informacii") Раскрытие информации
            li.footer-link-item
                a.footer-link(href="https://new.rosbank.ru/o-banke/raskrytie-informacii/informaciya-o-procentnyh-stavkah-po-dogovoram-bankovskogov-klada") Информация о максимальных процентных ставках по вкладам физических лиц
            li.footer-link-item
                a.footer-link(href="https://new.rosbank.ru/prodazha-obektov-nedvizhimosti/zhilaya-nedvizhimost") Продажа объектов недвижимости
        .footer-disclaimer.col-5
            p.copyright__dark Любое предоставление ПАО РОСБАНК информации на данном сайте не должно рассматриваться как предоставление неполной или недостоверной информации, в том числе как умолчание или заверение об обстоятельствах, имеющих значение для заключения, исполнения или прекращения сделки, или как обязательство заключить сделку на условиях, изложенных на данном сайте, или как оферта, если только иное прямо не указано на данном сайте.
        .footer-copyright
            p.copyright__dark © 2007 — 2019 ПАО РОСБАНК, Генеральная лицензия №2272 от 28.01.15

