header.global-header
    section.rosa-grid
        .header-row
            .logo
                img#logo()
            .logo__mobile
                include ./__logo-alt.pug
            .additional-info
                .text Если у вас возникли вопросы – звоните на горячую линию
                include ./__button.pug


